.imgIndexSize{
    width: 300px;
    height: 500px;
}

.imgSecIndex{
    width: 660px;
    height: 420px;
}

.imgOrigenMain{
    width: 600px;
    height: 400px;
}

.boderMatches{
    border: solid;
    border: 2px;
}